* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Serif', serif;
    font-size: 24px;
    scroll-behavior: smooth;
}
main h2{
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.right, .left{
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    height: 650px;
    width:40%;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 10px 25px rgba(92, 99, 105, .8); 
}
.right{
    margin-right: 100px;
	float:right;
    background-color:  #0EA293;
}
.left{
    margin-left: 100px;
	float:left;
    background-color:  #0EA293;
}
.progress-container:before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    line-height:1em;
  }
  
.progress-container {
    text-align: center;
    position: relative;
}

.table-responsive{
    max-height: 150px;
    max-width: 90%;
}
/* nav */
nav {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

nav .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 80px;
    text-align: left;
    padding: 10px;
}

nav .container ul li {
    display: inline-block;
}

nav .container ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
}

nav .container ul li.active {
    background-color: #0EA293;
    transition: 0.3s ease background-color;
}

nav .container ul li.active a {
    color: rgb(255, 255, 255);
}

.signin {
    float: right;
}