* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;
  }
  html {
    font-size: 20px;
    scroll-behavior: smooth;
  }
  section {
    height: 100vh;
    font-weight: bold;
    width: 100%;
    background-color: gray;
  }
  h1 {
    display: block;
    width: fit-content;
    font-size: 50px;
    position: relative;
  }
  
  /* Home Section */
  #home{
    background-image: url("../img/homeDiv.jpeg");
    background-size: cover;
    position: relative;
    z-index: 1;
  }
  #home::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height:100%;
    width:100%;
    background-color: rgba(92, 99, 105);
    opacity: 0.8;
    z-index: -1;
  }
  #home h1 {
    display: block;
    width: fit-content;
    font-size: 50px;
    position: relative;
    margin-bottom: 30px;
  }
  #home .homeDiv{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;    
  }
  #home a{
    position: relative;
    display: inline-block;
	  padding: 10px 30px;
	  color: white;
    font-size: 16px;
    font-weight: 300;
	  background-color: rgba(14, 162, 147,.3);
    text-decoration: none;
    border-radius: 3px;
	  border: 2px solid #0EA293;
	  margin-top: 20px;
    opacity: 1;
    transition: 0.5s;
  }
  #home a:hover{
	  color: white;
	  background-color: #0EA293;
    opacity: 1;
    font-weight:bold;
    border-radius: 6px;
	  border: 2px solid #0EA293;
	  margin-top: 30px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .5);
  }
  /* End of home section */
  #about {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
  }
  #about .aboutWord{
    width:50%;
    margin-left: 80px;
  }
  #about .aboubImg{
    width: 50%;
    background-size: cover;
  }
  .highlight {
        background: url("https://s2.svgbox.net/pen-brushes.svg?ic=brush-7&color=c4eb76");
    }
  #about img{
    position: relative;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    object-fit: cover;
    border:7px double  #0EA293;
  }
  /* Function Section */
  #function {
    background-color: white;
    height: 100%;
  }
  #function .functionDiv{
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column;
  }
  #function h1{
    margin: 0 auto;
    width: fit-content;
  }
  #function .functionContent{
    display: flex;
    flex-direction: row;
	  flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    margin-bottom: 100px;
  }
  #function img {
    position: relative;
    width: 100px;
    height:100px;
    top: 10px;
    left: -38px;
    margin-left: 100px;
    object-fit: cover;
    border-radius: 20%;
    background-color: rgb(255, 255, 255,0.8);
    box-shadow: 0 10px 25px rgba(92, 99, 105, .3);
  }
  #function .card{
    margin: 10px;
    width: 13rem ; 
    height: 20rem;
    border-radius: 20%;
    border: 5px solid #313437bc;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 10px 25px rgba(92, 99, 105, .3);
    transition: 0.3s;
  }
  #function .card:hover{
    box-shadow: 0 10px 25px rgba(92, 99, 105, .8);
    background-color: rgb(255, 255, 255);
  }
  #function .card:hover img{
    background-color: rgb(14, 162, 147);
    top: -15px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .8);
    width: 110px;
    height:110px;
  }
  #function ul.a {
    list-style-type:none;
    padding-left: 20px;
    letter-spacing: 1px;
    color: gray;
  }
  #function ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #0EA293;; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}
  /* End of function Section */
  #calculate  {
    background-color: white;
  }
  #calculate h1 {
    margin: 0 auto;
    display: block;
    width: fit-content;
    font-size: 50px;
    position: relative;
  }
  #calculate .calculateContent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }
  #calculate img{
    width: 500px;
    height: 500px;
    object-fit: fill;
  }
  #calculate .carousel-indicators {
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  #calculate .carousel-indicators li {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #0EA293;
    border-radius: 50%;
  }
  #calculate .carousel-indicators li.active {
    background-color: #5FDAC9;
  }
  #calculate .glyphicon-chevron-left{
    color: #0EA293;
  }
  #calculate .glyphicon-chevron-right{
    color: rgb(14, 162, 147);
  }
  /* Team Section */
  #team {
    background-color: white;
  }
  #team h1{
    color:#313437;
    margin: 0 auto;
    width: fit-content;
  }
  #team .cardDiv{
    display: flex;
    flex-direction: row;
	  flex-wrap: wrap;
    align-items: center;
    justify-content: center;   
  }
  #team .card{
    margin:10px;
    width: 20%; 
    height: 20rem;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
  #team .card:hover {
    box-shadow: 0 10px 25px rgba(92, 99, 105, .8);
  }
  #team img{
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100%;
    margin: 30px auto 0;
    object-fit: cover;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
  #team img:hover{
    box-shadow: 0 10px 25px rgba(92, 99, 105, .8);
  }

  /* End of team section */
  nav {
    position: sticky;
    top: 0;
    background-color: white;
    font-weight:bold;
    overflow: hidden;
    z-index: 100;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    font-family: 'Roboto Serif', serif;
  }
  nav .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 80px;
    text-align: left;
    padding: 10px;
  }
  nav .container ul li {
    display: inline-block;
  }
  nav .container ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
  }
  nav .container ul li.active {
    background-color: #0EA293;
    transition: 0.3s ease background-color;
  }
  nav .container ul li.active a {
    color: rgb(255, 255, 255);
  }
  a{
    text-decoration: none;
    color: black;
  }
  .signin{
    float: right;
  }